<%= form_for(@backtest) do |f| %>
  <% if @backtest.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@backtest.errors.count, "error") %> prohibited this backtest from being saved:</h4>

      <ul>
      <% @backtest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <h4>From:</h4>
      <%= date_select("backtest", "query_end", order: [:year,:month,:day], default: 1.year.ago)  %>
      <h4>To:</h4>
      <%= date_select("backtest", "query_start", order: [:year,:month,:day])  %>

      <h4>Starting value:</h4>
      <%= f.text_field :value_start %>
    </div>
    <div class="col-md-6">
      <h4>Stocks to Backtest:</h4>
      <%= f.select :stocks, @stocks.collect {|x| [x.name, x.id]}, {}, :multiple => true %>

      <h4>Buy conditions:</h4>
      p < avg_20_days < avg_50_days

      <h4>Sell conditions:</h4>
      p > avg_20_days > avg_50_days

    </div>
  </div>

  <div class="actions text-center" style="margin-top: 25px;">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
