<p id="notice"><%= notice %></p>

<h1>Listing Backtests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backtests.each do |backtest| %>
      <tr>
        <td><%= link_to 'Show', backtest %></td>
        <td><%= link_to 'Edit', edit_backtest_path(backtest) %></td>
        <td><%= link_to 'Destroy', backtest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Backtest', new_backtest_path %>
