<p id="notice"><%= notice %></p>

<h1>Listing Stocks</h1>

<% @stocks_history.each do |stock| %>
  
    <%= stock.first %>
    </br>
      Raw Price: <%= stock.last[:raw_prices].map {|y| y.to_f.round(2)} %>
    </br>
      50 Days: <%= stock.last[:avg_50_days].map {|y| y.to_f.round(2)} %>
    </br>
      20 Days: <%= stock.last[:avg_20_days].map {|y| y.to_f.round(2)} %>
    </br>

<% 

  prices = stock.last[:raw_prices]
  y_range = (prices.min.to_i)..(prices.max.to_i)

  library_options = {
    vAxis: {
      viewWindow: y_range
      # viewWindowMode: "pretty"
      # ticks: y_range.to_a,
      # min: 5
    }
  }
 %>

    <%= line_chart [
      {name: "Prices", data: chartkick_format(stock.last[:dates], stock.last[:raw_prices])},
      {name: "50 day moving avg", data: chartkick_format(stock.last[:dates], stock.last[:avg_50_days])},
      {name: "20 day moving avg", data: chartkick_format(stock.last[:dates], stock.last[:avg_20_days])},
    ], {library: library_options} %>

    

<% end %>

