<p id="notice"><%= notice %></p>

<h1>Listing Stocks</h1>
<table>
  <thead>
    <tr>
      <th >Ticker</th>
      <th >Values</th>
    </tr>
  </thead>

  <tbody>
    <% @stocks_history[:values].each do |x| %>
      <tr>
        <td><%= x.first %></td>
        <td>
          Raw Price: <%= x.last[:raw_prices].map {|x| x.to_f.round(2)} %>
        </br>
          50 Days: <%= x.last[:avg_50_days].map {|x| x.to_f.round(2)} %>
        </br>
          20 Days: <%= x.last[:avg_20_days].map {|x| x.to_f.round(2)} %>
        </br>

        <%= line_chart [
          {name: "Prices", data: chartkick_format(@stocks_history[:dates], x.last[:raw_prices])},
          {name: "50 day moving avg", data: chartkick_format(@stocks_history[:dates], x.last[:avg_50_days])},
          {name: "20 day moving avg", data: chartkick_format(@stocks_history[:dates], x.last[:avg_20_days])},
        ] %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
